PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/chatBloc
JWT_SECRET=<add_your_secret>
ENCRYPTION_SECRET=<add_enc_key>
FRONTEND_URL=http://localhost:5173
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=replace_with_hardhat_account_private_key
CONTRACT_ADDRESS=